// Colors
$bg-color: #f8f8f8;
$text-color: #1b1c21;
$accent-color: #ff3e79;
$grey-text: #7e7e82;
$border-color: #eaeaea;
$white: #ffffff;
$themeColor: #ffffff;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1120px;
