.header {
  background: $white;
  border-bottom: 1px solid $border-color;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__burger-btn {
    width: 40px;
    height: 40px;
    background: url('img/burger.svg') no-repeat center;
    border: none;
    cursor: pointer;
  }

  &__logo {
    margin-left: 16px;
  }

  &__icons {
    display: flex;
    gap: 16px;

    &--repair, &--checkstatus {
      width: 40px;
      height: 40px;
      background-size: contain;
      border: none;
      cursor: pointer;
    }

    &--repair { background: url('img/repair.svg') no-repeat center; }
    &--checkstatus { background: url('img/checkstatus.svg') no-repeat center; }
  }

  @media (min-width: $tablet) {
    padding: 24px;
    &__icons { gap: 24px; }
  }
}