.swiper {
  overflow: hidden;
  &-slide { width: auto !important; }
}

.brands__card {
  width: 240px;
  height: 72px;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}