// Цвета
$bg-color: #f8f8f8;
$white: #ffffff;
$accent-color: #41f6d7;
$text-color: #1b1c21;
$grey-text: #7e7e82;
$border-color: #d9fff5;

// Шрифты
$font-regular: 'TT Lakes Regular', sans-serif;
$font-medium: 'TT Lakes Medium', sans-serif;
$font-bold: 'TT Lakes Bold', sans-serif;

// Тени
$shadow: 16px 0 52px rgba(14, 24, 80, 0.2);

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1120px;
